@charset "utf-8";
/* CSS Document */
/*编辑*/
.editCon{ border:1px solid #efefef; padding:0 40px 50px; box-shadow:0 1px 5px 1px #f9f9f9;}

.editCon textarea.txt{ padding:20px; height:140px; float:left;}
.editCon .edit-title{ font-size:14px; padding:24px 0; color:#666; border-bottom:1px solid #e5e5e5;}
.editCon .edit-body{ padding:30px 0 0 30px;}
.editCon .edit-body .row{ padding-bottom:20px;}
.col-l{ float:left; color:#515567; width:125px; font-size:18px; padding-top:10px;}
.col-r{ float:left; width:540px;}
.col-r .msg{ padding-left:14px; color:#666;overflow:hidden;}
.editCon .col-r .thumb{ position:relative; float:left; width:340px; height:189px;}
.editCon .col-r .thumb p{ position:absolute; bottom:0; left:0; width:100%; height:42px; line-height:42px; background-color:#ccc; background-color:rgba(0,0,0,0.3); color:#fff; text-align:center; font-size:14px;}
.editCon .col-r .thumb-msg{ padding:60px 0 0 14px; }
.editCon .col-r .about-msg{ padding:80px 0 0 14px;}
.editCon .col-r .label{ float:left;margin-right:12px;padding:0 12px; height:32px; line-height:32px;  border:1px solid #bcc4c8; border-radius:3px;  font-size:14px; color:#666; cursor:pointer;}
.editCon .col-r .label:last-of-type{ margin:0;}
.editCon .col-r .fa-del{width:10px; height:10px; display:inline-block; vertical-align:middle; background-position:-164px 0; margin-left:12px; }
.editCon .add-btn{ background-position:-88px 0; height:23px; width:23px; float:left; margin:6px 0 0 12px;}
.editCon .col-r .radioBox{ float:left; margin-left:40px;  font-size:14px; padding:10px 0 0; color:#666; min-width:90px;}
.editCon .col-r .radioBox .fa-radio{ width:20px; height:20px; background-position:-133px 0;margin-right:10px;cursor:pointer;}
.editCon .col-r .check .fa-radio{ background-position:-112px 0; }
.editCon .submit{ display:block;width:115px; height:38px; line-height:38px; text-align:center; color:#fff; font-size:18px; margin:0 auto; background-color:#7a55d8; border-radius:3px; border:0; outline:none; cursor:pointer;}
.editCon .group-dropdown,.editCon .user-id{ margin:-5px 0 0 10px;}
.editCon .user-id{  width:70px;}

#data{ padding-top:5px;}
#data .line{ height:3px; width:50px; margin:10px 10px 0; border-bottom:1px solid #e5e5e5;}
#data input{ padding:5px 10px; border:2px solid #9a9a9a; border-color:#9a9a9a #eeeeee #eeeeee #9a9a9a}
#startdata{} 

#live .check .fa-radio{ background-position:-112px -21px;}
#live .add-btn{ background-position:-90px -23px; width:21px;}
#live .submit{ background-color:#fa9566;}

    /**uploader css @date 2016.**/
#uploader-demo {
    position: relative;
    height: 193px;
    width: 344px;
    padding: 2px;
    border: 1px solid #e5e5e5;
}
#uploader-demo>#filePicker {
    position: absolute;
    width: 340px;
    height: 40px;
    bottom: 0px;
    z-index: 10;
}
#filePicker>.webuploader-pick {
    width: 100%;
    background: none;
    border-radius: 0px;
}
#uploader-demo>b {
    position: absolute;
    width: 340px;
    height: 40px;
    bottom: 0px;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: block;
}

/***input 文本****/
.timt-input {
    width: 135px;
    line-height: 24px;
    padding: 0 5px;
    cursor: pointer;
    color: #333;
    border: 1px solid #ebebeb;
    height: 38px;
}

/**群组select**/
.mod-radio select{
     height: 31px;
     box-shadow: 0 5px 6px #eee inset;
     height: 30px;
     line-height: 30px;
     width: 140px;
     border-radius: 3px;
     border: 1px solid #ebebeb;
     margin-left: 10px;
}

/*form-group*/
.form-group .control-label{padding-top:5px;font-size:16px;color:#515567; font-weight: normal;}
.form-group .msg{ color: #999;}
/********更改input radio @datee 2016.5.14  -S*********/


.radioBox{ display: inline-block; min-width: 100px; margin-right: 20px;}
.radioBox>label.active {
    background-position: left -374px;
}

.radioBox>label {
    line-height: 30px;
    background: url(/img/frontend/camtasiastudio/tab_ico.png) no-repeat left -342px;
    display: inline-block;
    height: 30px;
    padding-left: 30px;
    cursor: pointer;
}
.radioBox>label>input[type="radio"] {
    opacity: 0;
    filter: alpha(opacity=0);
}
.radioBox .radio-inline{ padding-top:0; margin-right: 10px;}


/********更改input radio @datee 2016.5.14  -E*********/
.tags_list {
    max-width: 90%;
    float: left;
}
ul.tags_list li{
    float: left;
    margin-right: 10px;
    width:auto;
}
ul.tags_list li a {
    text-align: center;
    display: inline-block;
    width: 15px;
    height: 20px;
    padding-top: 2px;
    color: #222;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: top;
    font-size: 12px;
}

#fileList>.thumbnail {
    width: 340px;
    padding: 0px;
    border: 0;
}
/***添加标签***/


